<link rel="stylesheet" href="/style/{{defaultStlye}}/home/footer.css">
<footer>
    <div class="row">
        <div class="col-sm-4">
            <div class="container">
                1
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                2
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                3
            </div>
        </div>
    </div>
</footer>