<link rel="stylesheet" href="/style/{{defaultStlye}}/home/header.css">
<header class="">
    <div class="jumbotron jumbotron-fluid text-center p-4">
        <a href="/">
            <div id="logo">
                <i class="fas fa-book-reader fa-4x"></i>
            </div>
        </a>
        <div class="display-4 py-4">
            {{texts.headerTitle}}
        </div>
        <p id="description">

        </p>
        {{!-- <div class="row">
            <div class="col-sm-3"></div>
            <form id="search" method="post" class="col-sm-6 col-lg-6" action="/">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="{{texts.search}}">
                    <div class="input-group-btn">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-3"></div>
        </div> --}}
    </div>

</header>