<link rel="stylesheet" href="/style/{{defaultStyle}}/home/index.css">
<div id="index">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="title">الحصول على الشهادة</div>
                <div class="description">
                    <ul>
                        <li>الموقع مخصص لشهادات المشاركة الخاصة بملتقى الشباب القيادي - الأنبار.</li>
                        <li>يرجى إدخال اسمك باللغة العربية كما تم إدخاله في استمارة التسجيل أو كما هو موجود في القوائم
                            الورقية. </li>
                        <li>الشهادات لمن حضر كل فقرات البرنامج خلال يومين كاملين.</li>
                        <li>في حالة وجود أي مشكلة يرجى التواصل مع صفحة الملتقى على
                            <a href="https://www.facebook.com/youthlff" style="font-weight:bolder">
                                <i class="fas fa-share-square"></i> الفيس بوك
                            </a>.
                        </li>

                    </ul>
                </div>

                <div class="content">
                    <form method="post" action="/download">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">الأسم</span>
                            </div>
                            <input name="member_name" class="form-control" type="text" placeholder="محمد احمد مصطفى"
                                required maxlength="100" minlength="8">
                        </div>
                        <button class="btn btn-block " type="submit"
                            style="background-color:#543293;color:white;">تحميل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>